<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>POS System</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

<script id="item-list-template" type="text/x-template">
    <div class="list-group">
        <button class="list-group-item item" v-repeat="item: items" v-on="click: itemClicked(item)">
            <strong>{{ item.name }}</strong> - {{ item.price }}
        </button>
    </div>
</script>

<script id="transaction-template" type="text/x-template">
    <table class="table table-striped table-hover table-bordered table-responsive" v-if="items.length">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-repeat="item: items">
                <td>{{ item.item.name }}</td>
                <td>
                    <span v-if="!item.editing" v-on="dblclick: toggleEdit(item)">{{ item.numberOfItems }}</span>
                    <input v-if="item.editing" v-on="blur: toggleEdit(item)" type="number" v-model="item.numberOfItems">
                </td>
                <td>{{ item.numberOfItems * item.item.price | currency }}</td>
                <td><i class="fa fa-times" v-on="click: removeItem(item)"></i></td>
            </tr>
        </tbody>
    </table>
    <p v-if="!items.length">No items have been added.</p>

    <table class="table">
        <tbody>
            <tr>
                <td>Subtotal:</td>
                <td>{{ subtotal | currency }}</td>
            </tr>
            <tr>
                <td>Tax:</td>
                <td>{{ tax | currency }}</td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>{{ total | currency }}</td>
            </tr>
        </tbody>
    </table>
</script>

<div class="container">
    <div class="row" id="pos">
        <div class="col-md-8 col-md-offset-2">
            <h1>Point of Sale</h1>
            <div class="row">
                <div class="col-md-6">
                    <transaction items="{{ lineItems }}" edit="{{ toggleEdit }}" remove="{{ removeItem }}"></transaction>
                </div>
                <div class="col-md-6">
                    <item-list items="{{ items }}" add="{{ onItemClick }}"></item-list>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/vue/dist/vue.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>