<table class="table table-striped table-hover table-bordered table-responsive" v-if="items.length">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of Items</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr v-repeat="item: items">
            <td>{{ item.item.name }}</td>
            <td>
                <span v-if="!item.editing" v-on="dblclick: toggleEdit(item)">{{ item.numberOfItems }}</span>
                <input v-if="item.editing" v-on="blur: toggleEdit(item)" type="number" v-model="item.numberOfItems">
            </td>
            <td>{{ item.numberOfItems * item.item.price | currency }}</td>
            <td><i class="fa fa-times" v-on="click: removeItem(item)"></i></td>
        </tr>
    </tbody>
</table>
<p v-if="!items.length">No items have been added.</p>

<table class="table">
    <tbody>
        <tr>
            <td>Subtotal:</td>
            <td>{{ subtotal | currency }}</td>
        </tr>
        <tr>
            <td>Tax:</td>
            <td>{{ tax | currency }}</td>
        </tr>
        <tr>
            <td>Total:</td>
            <td>{{ total | currency }}</td>
        </tr>
    </tbody>
</table>